{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}} VND</p>
        </div>
      </div>
    {% endfor %}

    <br>
    <p class="fw-bold text-info">Total Cost +  150000 VND = {{totalamount}} VND</p>
    <br>
    <br>
    <h3 class = "text-warning">Please choose your address.</h3>
    <small> This is an electronic product, so in addition to the delivery fee, you must buy the goods insurance. Thank you very much</small>

  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
    {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.district}}, {{ad.province}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
    {% endfor %}
        <div class="text-center">
          <!--Set up a container element for the button-->
          <div id="paypal-button-container"></div>
          
          <button type="submit" class="btn btn-secondary mt-3 px-5 fw-bold">Payment on delivery</button>
          <br>
          {% if messages %}
            {% for message in messages %}
            <br>
            <p {% if message.tags %} class="alert alert-{{message.tags}}" mb-5 {% endif %}>{{message}}</p>
            {% endfor %}
          {% endif %}
        </div>
        <br>
        <br>
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}

{% block payment-gateway %}
  <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdU8NkkrEOEVk5yVwApTs-iBBg8KRm1mYZ9Dd34jdjMfuwoyAyKFQo0K1bvt-XEDWY3OPv6ovPk0eg1m&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalamount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementByID("myform").submit();
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock payment-gateway %}
