{% extends 'app/base.html' %}
{% load static %}
{% block title %}Laptop{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class = "list-group">
    <h2 class="">Brands:</h2>
    <a href= "{% url 'laptop' %}" class = "list-group-item list-group-item-action" aria-current = "true" > All laptop </a>
    <a href= "{% url 'laptopdata' 'Asus' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Asus </a>
    <a href= "{% url 'laptopdata' 'Lenovo' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Lenovo </a>
    <a href= "{% url 'laptopdata' 'Macbook' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Macbook </a>
    <a href= "{% url 'laptopdata' 'Acer' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Acer </a>
    <a href= "{% url 'laptopdata' 'Dell' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Dell </a>
    <a href= "{% url 'laptopdata' 'HP' %}" class = "list-group-item list-group-item-action" aria-current = "true" > HP </a>
    <a href= "{% url 'laptopdata' 'MSI' %}" class = "list-group-item list-group-item-action" aria-current = "true" > MSI </a>
    <a href= "{% url 'laptopdata' 'LG' %}" class = "list-group-item list-group-item-action" aria-current = "true" > LG </a>
    <br>
    <h2 class="">Filter by price:</h2>
    <a href= "{% url 'laptopdata' 'below' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Below 20,000,000 </a>
    <a href= "{% url 'laptopdata' 'above' %}" class = "list-group-item list-group-item-action" aria-current = "true" > Above 20,000,000 </a>
    <br>
    <h2>Sort by Price</h2>
    <a href= "{% url 'laptopdata' 'high' %}" class = "list-group-item list-group-item-action" aria-current = "true" >High to Low</a>
    <a href= "{% url 'laptopdata' 'low' %}" class = "list-group-item list-group-item-action" aria-current = "true" >Low to High</a>
   </div>
  </div>
 
  <div class="col-sm-9">
   <div class = "row">
    {% for product in page_obj %}

        <div class = "col-sm-4 text-center mb-4">
            <a href = "{% url 'product-detail' product.id %}" class = "btn">
            <div class = "item">
                <img src = "{{ product.product_image.url }}" alt="" height="200px" class="">
                <div class = "fw-bold">{{product.title}}</div>
                <div class = "fw-bold">{{product.selling_price}} 
                <small class = "fw-light text-decoration-line-through">{{product.discounted_price}}</small></div>
            </div>
            </a>    
        </div>
    {% endfor %}
    
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" ><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
            {% if page_obj.has_next %}    
                <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
            </ul>
        </nav>
    
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}