.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

.about{
    margin-top: 90px;
    background: #23262d;
    padding: 60px 0;
}

.about .about_box {
    text-align: center;
}
.titlepage {
    text-align: center;
    padding-bottom: 60px;
}
.about .titlepage h2 {
    margin-bottom: 20px;
    color: #fff;
}
.about .titlepage span {
    color: #fff;
    font-size: 17px;
}

